{% extends 'blog/base.html' %}

{% block content %}

    <br>
    <div class="row">
        <div class="col-md-3">
            <!--  Lista de objetos  -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title"> {% block title_panel %} {% endblock %}  </h1>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for x in object_list %}
                        <a href="#" class="list-group-item"> {{ x }} </a>
                        {% empty %}
                            <div class="alert alert-warning"> {% block alert_message %} {% endblock %} </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <!-- Detalle de objeto -->
            {% block object_detail %}
                <div class="alert alert-info"> Seleccione un item de la lista izquierda.</div>
            {% endblock %}
        </div>
    </div>


{% endblock %}