{% extends 'blog/object_list.html' %}
{% load humanize %}

{% block object_detail %}

    <div class="page-header">
    <h1> {{ post.title }} <small>  {{ post.author }} escrito {{ post.created_at|naturaltime }} </small> </h1>
    </div>

    <blockquote>
        <p> {{ post.content }} </p>
    </blockquote>

{% endblock %}